<div class="lobby-container">
    <div class="lobby-header">Play with Tigers</div>
    <div class="lobby-players">
      <div *ngIf="(filteredPlayers$ | async) as players; else noPlayers">
        <div *ngFor="let player of players" class="player-item">
          <span class="player-name">{{ player.username }}</span>
          <app-button text="Play" (buttonClick)="playGame(player.userId)"></app-button>
        </div>
      </div>
      <ng-template #noPlayers>
        <p>No players available at the moment.</p>
      </ng-template>
    </div>
  </div>
  