.chat-container {
    background: rgba(255, 100, 0, 0.74);
    padding: 9em 13em 26em;
    border-radius: 15px;
    position: relative;
}

.chat-header {
    font-size: 2rem;
    font-family: "Alata", sans-serif;
    color: #000;
    text-align: left;
    position: absolute;
    top: 0.25em;
    left: 0.5em;
    width: 100%;
}

.chat-header::after {
    content: '';
    display: block;
    width: 90%;
    height: 2px;
    background-color: #000;
    margin-top: 0.125em;
}


.message-container {
    flex: 1;
    overflow-y: auto; /* Allows chat messages to scroll if they overflow */
    padding: 1em;
}

.message-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: absolute;
    left: 1em;
    bottom: 1em;
    border-top: 2px solid #000;
}

.message-input input {
    font-family: inherit;
    padding: 1em;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-right: 0.5em;
}