<div class="form-container">
  <form>
      <!-- Username Field -->
      <div class="input-field">
          <img src="/assets/images/tiger.svg" alt="Tiger Icon" class="input-icon">
          <input type="text" placeholder="Username" class="input-text">
      </div>

      <!-- Password Field -->
      <div class="input-field">
          <img src="/assets/images/lock.svg" alt="Password Icon" class="input-icon">
          <input type="password" placeholder="Password" class="input-text">
      </div>

      <div class="button-container">
        <button class="button">Log In</button>
        <button class="button">Register</button>
    </div>
  </form>
</div>