.form-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    padding: 10em;
    padding-top: 3em;
    padding-bottom: 2em;
    max-width: fit-content;
}

.input-field {
    display: flex;
    align-items: center;
    border: 1px solid #B7B7B7;
    border-radius: 16px;
    padding: 20px; /* Increased padding for larger input area */
    margin-bottom: 30px; /* Increased space between fields */
}

.input-icon {
    width: 32px; /* Larger icon */
    height: 32px;
    margin-right: 15px;
    opacity: 0.5;
}

.input-text {
    border: none;
    outline: none;
    font-size: 20px; /* Larger text size */
    color: black;
    width: 100%;
    font-family: "Alata", sans-serif;
    background-color: transparent;

    &::placeholder {
        color: #B7B7B7;
    }
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px; /* Space between input fields and buttons */
}