@font-face {
    font-family: 'Tiger';
    src: url('../public/assets/fonts/Tiger.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0; // Remove default margin
    overflow: hidden; // Hide any potential overflow
}

body {
    /* Base gradient background with custom stops */
    background: linear-gradient(
        144deg,
        #F37321 0%,
        #FFFFFF 54%,
        rgba(0, 0, 0, 0.75) 75%
    );
    
    /* Background settings */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    /* Add a pseudo-element for the tiger stripe overlay */
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../public/assets/images/tiger-stripes.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        /* Set opacity only for the tiger stripe overlay */
        opacity: 0.18; /* Adjust this value for desired stripe visibility */
        pointer-events: none; /* Ensures clicks pass through the overlay */
    }  
}